[tabindex="-1"].pseudo-class-focus {
  outline: 0 !important;
}

a.pseudo-class-hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]).pseudo-class-hover,
a:not([href]):not([tabindex]).pseudo-class-focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]).pseudo-class-focus {
  outline: 0;
}

button.pseudo-class-focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.table-hover tbody tr.pseudo-class-hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-primary.pseudo-class-hover {
  background-color: #9fcdff;
}

.table-hover .table-primary.pseudo-class-hover > td,
.table-hover .table-primary.pseudo-class-hover > th {
  background-color: #9fcdff;
}

.table-hover .table-secondary.pseudo-class-hover {
  background-color: #c8cbcf;
}

.table-hover .table-secondary.pseudo-class-hover > td,
.table-hover .table-secondary.pseudo-class-hover > th {
  background-color: #c8cbcf;
}

.table-hover .table-success.pseudo-class-hover {
  background-color: #b1dfbb;
}

.table-hover .table-success.pseudo-class-hover > td,
.table-hover .table-success.pseudo-class-hover > th {
  background-color: #b1dfbb;
}

.table-hover .table-info.pseudo-class-hover {
  background-color: #abdde5;
}

.table-hover .table-info.pseudo-class-hover > td,
.table-hover .table-info.pseudo-class-hover > th {
  background-color: #abdde5;
}

.table-hover .table-warning.pseudo-class-hover {
  background-color: #ffe8a1;
}

.table-hover .table-warning.pseudo-class-hover > td,
.table-hover .table-warning.pseudo-class-hover > th {
  background-color: #ffe8a1;
}

.table-hover .table-danger.pseudo-class-hover {
  background-color: #f1b0b7;
}

.table-hover .table-danger.pseudo-class-hover > td,
.table-hover .table-danger.pseudo-class-hover > th {
  background-color: #f1b0b7;
}

.table-hover .table-light.pseudo-class-hover {
  background-color: #ececf6;
}

.table-hover .table-light.pseudo-class-hover > td,
.table-hover .table-light.pseudo-class-hover > th {
  background-color: #ececf6;
}

.table-hover .table-dark.pseudo-class-hover {
  background-color: #b9bbbe;
}

.table-hover .table-dark.pseudo-class-hover > td,
.table-hover .table-dark.pseudo-class-hover > th {
  background-color: #b9bbbe;
}

.table-hover .table-active.pseudo-class-hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active.pseudo-class-hover > td,
.table-hover .table-active.pseudo-class-hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-dark.table-hover tbody tr.pseudo-class-hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.form-control.pseudo-class-focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control.pseudo-class-disabled {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control.pseudo-class-focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-check-input.pseudo-class-disabled ~ .form-check-label {
  color: #6c757d;
}

.was-validated .form-control:valid.pseudo-class-focus,
.form-control.is-valid.pseudo-class-focus,
.was-validated .custom-select:valid.pseudo-class-focus,
.custom-select.is-valid.pseudo-class-focus {
  border-color: #28a745;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.was-validated .custom-control-input:valid.pseudo-class-checked ~ .custom-control-label::before,
.custom-control-input.is-valid.pseudo-class-checked ~ .custom-control-label::before {
  background-color: #34ce57;
}

.was-validated .custom-control-input:valid.pseudo-class-focus ~ .custom-control-label::before,
.custom-control-input.is-valid.pseudo-class-focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.was-validated .custom-file-input:valid.pseudo-class-focus ~ .custom-file-label,
.custom-file-input.is-valid.pseudo-class-focus ~ .custom-file-label {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.was-validated .form-control:invalid.pseudo-class-focus,
.form-control.is-invalid.pseudo-class-focus,
.was-validated .custom-select:invalid.pseudo-class-focus,
.custom-select.is-invalid.pseudo-class-focus {
  border-color: #dc3545;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated .custom-control-input:invalid.pseudo-class-checked ~ .custom-control-label::before,
.custom-control-input.is-invalid.pseudo-class-checked ~ .custom-control-label::before {
  background-color: #e4606d;
}

.was-validated .custom-control-input:invalid.pseudo-class-focus ~ .custom-control-label::before,
.custom-control-input.is-invalid.pseudo-class-focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated .custom-file-input:invalid.pseudo-class-focus ~ .custom-file-label,
.custom-file-input.is-invalid.pseudo-class-focus ~ .custom-file-label {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.btn.pseudo-class-hover,
.btn.pseudo-class-focus {
  text-decoration: none;
}

.btn.pseudo-class-focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.pseudo-class-disabled {
  opacity: .65;
}

fieldset.pseudo-class-disabled a.btn {
  pointer-events: none;
}

.btn-primary.pseudo-class-hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.pseudo-class-disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled).pseudo-class-active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-primary:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-primary.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-secondary.pseudo-class-hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-secondary.pseudo-class-disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled).pseudo-class-active {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-secondary:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-secondary.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-success.pseudo-class-hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-success.pseudo-class-disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled).pseudo-class-active {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-success:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-success.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-info.pseudo-class-hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.btn-info.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-info.pseudo-class-disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:not(:disabled):not(.disabled).pseudo-class-active {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.btn-info:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-info:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-info.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-warning.pseudo-class-hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-warning.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-warning.pseudo-class-disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:not(:disabled):not(.disabled).pseudo-class-active {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-warning:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-warning.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-danger.pseudo-class-hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-danger.pseudo-class-disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:not(:disabled):not(.disabled).pseudo-class-active {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-danger:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-danger.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-light.pseudo-class-hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-light.pseudo-class-disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled).pseudo-class-active {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-light:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-light.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-dark.pseudo-class-hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-dark.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-dark.pseudo-class-disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled).pseudo-class-active {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-dark:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-dark.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-primary.pseudo-class-hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary.pseudo-class-disabled {
  color: #007bff;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled).pseudo-class-active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-outline-primary:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-outline-primary.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-secondary.pseudo-class-hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary.pseudo-class-disabled {
  color: #6c757d;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled).pseudo-class-active {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-outline-secondary.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-success.pseudo-class-hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success.pseudo-class-disabled {
  color: #28a745;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled).pseudo-class-active {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-outline-success:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-outline-success.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-info.pseudo-class-hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-info.pseudo-class-disabled {
  color: #17a2b8;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled).pseudo-class-active {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-outline-info:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-outline-info.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-warning.pseudo-class-hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning.pseudo-class-disabled {
  color: #ffc107;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled).pseudo-class-active {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-outline-warning:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-outline-warning.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-danger.pseudo-class-hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.pseudo-class-disabled {
  color: #dc3545;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled).pseudo-class-active {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-outline-danger:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-outline-danger.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-light.pseudo-class-hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light.pseudo-class-disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled).pseudo-class-active {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-outline-light:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-outline-light.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-dark.pseudo-class-hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.pseudo-class-disabled {
  color: #343a40;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled).pseudo-class-active {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled).pseudo-class-active.pseudo-class-focus,
.btn-outline-dark:not(:disabled):not(.disabled).active.pseudo-class-focus,
.show > .btn-outline-dark.dropdown-toggle.pseudo-class-focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-link.pseudo-class-hover {
  color: #0056b3;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.btn-link.pseudo-class-focus {
  text-decoration: underline;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link.pseudo-class-disabled {
  color: #6c757d;
  pointer-events: none;
}

.dropdown-toggle.pseudo-class-empty::after {
  margin-left: 0;
}

.dropup .dropdown-toggle.pseudo-class-empty::after {
  margin-left: 0;
}

.dropright .dropdown-toggle.pseudo-class-empty::after {
  margin-left: 0;
}

.dropleft .dropdown-toggle.pseudo-class-empty::after {
  margin-left: 0;
}

.dropdown-item.pseudo-class-hover,
.dropdown-item.pseudo-class-focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-item.pseudo-class-active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.dropdown-item.pseudo-class-disabled {
  color: #6c757d;
  background-color: transparent;
}

.btn-group > .btn.pseudo-class-hover,
.btn-group-vertical > .btn.pseudo-class-hover {
  z-index: 1;
}

.btn-group > .btn.pseudo-class-focus,
.btn-group > .btn.pseudo-class-active,
.btn-group-vertical > .btn.pseudo-class-focus,
.btn-group-vertical > .btn.pseudo-class-active {
  z-index: 1;
}

.btn-group > .btn.pseudo-class-first-child {
  margin-left: 0;
}

.input-group > .form-control.pseudo-class-focus,
.input-group > .custom-select.pseudo-class-focus,
.input-group > .custom-file .custom-file-input.pseudo-class-focus ~ .custom-file-label {
  z-index: 3;
}

.input-group > .custom-file .custom-file-input.pseudo-class-focus {
  z-index: 4;
}

.input-group > .input-group-append.pseudo-class-last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append.pseudo-class-last-child > .input-group-text:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .input-group-prepend.pseudo-class-first-child > .btn:not(:first-child),
.input-group > .input-group-prepend.pseudo-class-first-child > .input-group-text:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.custom-control-input.pseudo-class-checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #007bff;
}

.custom-control-input.pseudo-class-focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-control-input.pseudo-class-active ~ .custom-control-label::before {
  color: #fff;
  background-color: #b3d7ff;
}

.custom-control-input.pseudo-class-disabled ~ .custom-control-label {
  color: #6c757d;
}

.custom-control-input.pseudo-class-disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
}

.custom-checkbox .custom-control-input.pseudo-class-checked ~ .custom-control-label::before {
  background-color: #007bff;
}

.custom-checkbox .custom-control-input.pseudo-class-checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input.pseudo-class-disabled.pseudo-class-checked ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-checkbox .custom-control-input.pseudo-class-disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-radio .custom-control-input.pseudo-class-checked ~ .custom-control-label::before {
  background-color: #007bff;
}

.custom-radio .custom-control-input.pseudo-class-checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}

.custom-radio .custom-control-input.pseudo-class-disabled.pseudo-class-checked ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-select.pseudo-class-focus {
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(128, 189, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(128, 189, 255, 0.5);
}

.custom-select.pseudo-class-focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.custom-select.pseudo-class-disabled {
  color: #6c757d;
  background-color: #e9ecef;
}

.custom-file-input.pseudo-class-focus ~ .custom-file-label {
  border-color: #80bdff;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-file-input.pseudo-class-focus ~ .custom-file-label::after {
  border-color: #80bdff;
}

.custom-file-input.pseudo-class-disabled ~ .custom-file-label {
  background-color: #e9ecef;
}

.custom-range.pseudo-class-focus {
  outline: none;
}

.custom-range.pseudo-class-focus::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-range.pseudo-class-focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-range.pseudo-class-focus::-ms-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-range::-webkit-slider-thumb.pseudo-class-active {
  background-color: #b3d7ff;
}

.custom-range::-moz-range-thumb.pseudo-class-active {
  background-color: #b3d7ff;
}

.custom-range::-ms-thumb.pseudo-class-active {
  background-color: #b3d7ff;
}

.nav-link.pseudo-class-hover,
.nav-link.pseudo-class-focus {
  text-decoration: none;
}

.nav-tabs .nav-link.pseudo-class-hover,
.nav-tabs .nav-link.pseudo-class-focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.navbar-brand.pseudo-class-hover,
.navbar-brand.pseudo-class-focus {
  text-decoration: none;
}

.navbar-toggler.pseudo-class-hover,
.navbar-toggler.pseudo-class-focus {
  text-decoration: none;
}

.navbar-light .navbar-brand.pseudo-class-hover,
.navbar-light .navbar-brand.pseudo-class-focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link.pseudo-class-hover,
.navbar-light .navbar-nav .nav-link.pseudo-class-focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-text a.pseudo-class-hover,
.navbar-light .navbar-text a.pseudo-class-focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-brand.pseudo-class-hover,
.navbar-dark .navbar-brand.pseudo-class-focus {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link.pseudo-class-hover,
.navbar-dark .navbar-nav .nav-link.pseudo-class-focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-text a.pseudo-class-hover,
.navbar-dark .navbar-text a.pseudo-class-focus {
  color: #fff;
}

.card > .list-group.pseudo-class-first-child .list-group-item.pseudo-class-first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.card > .list-group.pseudo-class-last-child .list-group-item.pseudo-class-last-child {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.card-text.pseudo-class-last-child {
  margin-bottom: 0;
}

.card-link.pseudo-class-hover {
  text-decoration: none;
}

.card-header.pseudo-class-first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header + .list-group .list-group-item.pseudo-class-first-child {
  border-top: 0;
}

.card-footer.pseudo-class-last-child {
  border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.accordion .card:not(:first-of-type) .card-header.pseudo-class-first-child {
  border-radius: 0;
}

.accordion .card.pseudo-class-first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion .card.pseudo-class-last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.breadcrumb-item + .breadcrumb-item.pseudo-class-hover::before {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item.pseudo-class-hover::before {
  text-decoration: none;
}

.page-link.pseudo-class-hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link.pseudo-class-focus {
  z-index: 2;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item.pseudo-class-first-child .page-link {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.page-item.pseudo-class-last-child .page-link {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.pagination-lg .page-item.pseudo-class-first-child .page-link {
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.pagination-lg .page-item.pseudo-class-last-child .page-link {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.pagination-sm .page-item.pseudo-class-first-child .page-link {
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem;
}

.pagination-sm .page-item.pseudo-class-last-child .page-link {
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
}

.badge.pseudo-class-empty {
  display: none;
}

.badge-primary[href].pseudo-class-hover,
.badge-primary[href].pseudo-class-focus {
  color: #fff;
  text-decoration: none;
  background-color: #0062cc;
}

.badge-secondary[href].pseudo-class-hover,
.badge-secondary[href].pseudo-class-focus {
  color: #fff;
  text-decoration: none;
  background-color: #545b62;
}

.badge-success[href].pseudo-class-hover,
.badge-success[href].pseudo-class-focus {
  color: #fff;
  text-decoration: none;
  background-color: #1e7e34;
}

.badge-info[href].pseudo-class-hover,
.badge-info[href].pseudo-class-focus {
  color: #fff;
  text-decoration: none;
  background-color: #117a8b;
}

.badge-warning[href].pseudo-class-hover,
.badge-warning[href].pseudo-class-focus {
  color: #212529;
  text-decoration: none;
  background-color: #d39e00;
}

.badge-danger[href].pseudo-class-hover,
.badge-danger[href].pseudo-class-focus {
  color: #fff;
  text-decoration: none;
  background-color: #bd2130;
}

.badge-light[href].pseudo-class-hover,
.badge-light[href].pseudo-class-focus {
  color: #212529;
  text-decoration: none;
  background-color: #dae0e5;
}

.badge-dark[href].pseudo-class-hover,
.badge-dark[href].pseudo-class-focus {
  color: #fff;
  text-decoration: none;
  background-color: #1d2124;
}

.list-group-item-action.pseudo-class-hover,
.list-group-item-action.pseudo-class-focus {
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa;
}

.list-group-item-action.pseudo-class-active {
  color: #212529;
  background-color: #e9ecef;
}

.list-group-item.pseudo-class-first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.list-group-item.pseudo-class-last-child {
  margin-bottom: 0;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.list-group-item.pseudo-class-hover,
.list-group-item.pseudo-class-focus {
  z-index: 1;
  text-decoration: none;
}

.list-group-item.pseudo-class-disabled {
  color: #6c757d;
  background-color: #fff;
}

.list-group-flush.pseudo-class-first-child .list-group-item.pseudo-class-first-child {
  border-top: 0;
}

.list-group-flush.pseudo-class-last-child .list-group-item.pseudo-class-last-child {
  border-bottom: 0;
}

.list-group-item-primary.list-group-item-action.pseudo-class-hover,
.list-group-item-primary.list-group-item-action.pseudo-class-focus {
  color: #004085;
  background-color: #9fcdff;
}

.list-group-item-secondary.list-group-item-action.pseudo-class-hover,
.list-group-item-secondary.list-group-item-action.pseudo-class-focus {
  color: #383d41;
  background-color: #c8cbcf;
}

.list-group-item-success.list-group-item-action.pseudo-class-hover,
.list-group-item-success.list-group-item-action.pseudo-class-focus {
  color: #155724;
  background-color: #b1dfbb;
}

.list-group-item-info.list-group-item-action.pseudo-class-hover,
.list-group-item-info.list-group-item-action.pseudo-class-focus {
  color: #0c5460;
  background-color: #abdde5;
}

.list-group-item-warning.list-group-item-action.pseudo-class-hover,
.list-group-item-warning.list-group-item-action.pseudo-class-focus {
  color: #856404;
  background-color: #ffe8a1;
}

.list-group-item-danger.list-group-item-action.pseudo-class-hover,
.list-group-item-danger.list-group-item-action.pseudo-class-focus {
  color: #721c24;
  background-color: #f1b0b7;
}

.list-group-item-light.list-group-item-action.pseudo-class-hover,
.list-group-item-light.list-group-item-action.pseudo-class-focus {
  color: #818182;
  background-color: #ececf6;
}

.list-group-item-dark.list-group-item-action.pseudo-class-hover,
.list-group-item-dark.list-group-item-action.pseudo-class-focus {
  color: #1b1e21;
  background-color: #b9bbbe;
}

.close:not(:disabled):not(.disabled).pseudo-class-hover,
.close:not(:disabled):not(.disabled).pseudo-class-focus {
  color: #000;
  text-decoration: none;
  opacity: .75;
}

.popover-header.pseudo-class-empty {
  display: none;
}

.carousel-control-prev.pseudo-class-hover,
.carousel-control-prev.pseudo-class-focus,
.carousel-control-next.pseudo-class-hover,
.carousel-control-next.pseudo-class-focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

a.bg-primary.pseudo-class-hover,
a.bg-primary.pseudo-class-focus,
button.bg-primary.pseudo-class-hover,
button.bg-primary.pseudo-class-focus {
  background-color: #0062cc !important;
}

a.bg-secondary.pseudo-class-hover,
a.bg-secondary.pseudo-class-focus,
button.bg-secondary.pseudo-class-hover,
button.bg-secondary.pseudo-class-focus {
  background-color: #545b62 !important;
}

a.bg-success.pseudo-class-hover,
a.bg-success.pseudo-class-focus,
button.bg-success.pseudo-class-hover,
button.bg-success.pseudo-class-focus {
  background-color: #1e7e34 !important;
}

a.bg-info.pseudo-class-hover,
a.bg-info.pseudo-class-focus,
button.bg-info.pseudo-class-hover,
button.bg-info.pseudo-class-focus {
  background-color: #117a8b !important;
}

a.bg-warning.pseudo-class-hover,
a.bg-warning.pseudo-class-focus,
button.bg-warning.pseudo-class-hover,
button.bg-warning.pseudo-class-focus {
  background-color: #d39e00 !important;
}

a.bg-danger.pseudo-class-hover,
a.bg-danger.pseudo-class-focus,
button.bg-danger.pseudo-class-hover,
button.bg-danger.pseudo-class-focus {
  background-color: #bd2130 !important;
}

a.bg-light.pseudo-class-hover,
a.bg-light.pseudo-class-focus,
button.bg-light.pseudo-class-hover,
button.bg-light.pseudo-class-focus {
  background-color: #dae0e5 !important;
}

a.bg-dark.pseudo-class-hover,
a.bg-dark.pseudo-class-focus,
button.bg-dark.pseudo-class-hover,
button.bg-dark.pseudo-class-focus {
  background-color: #1d2124 !important;
}

.sr-only-focusable.pseudo-class-active,
.sr-only-focusable.pseudo-class-focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

a.text-primary.pseudo-class-hover,
a.text-primary.pseudo-class-focus {
  color: #0062cc !important;
}

a.text-secondary.pseudo-class-hover,
a.text-secondary.pseudo-class-focus {
  color: #545b62 !important;
}

a.text-success.pseudo-class-hover,
a.text-success.pseudo-class-focus {
  color: #1e7e34 !important;
}

a.text-info.pseudo-class-hover,
a.text-info.pseudo-class-focus {
  color: #117a8b !important;
}

a.text-warning.pseudo-class-hover,
a.text-warning.pseudo-class-focus {
  color: #d39e00 !important;
}

a.text-danger.pseudo-class-hover,
a.text-danger.pseudo-class-focus {
  color: #bd2130 !important;
}

a.text-light.pseudo-class-hover,
a.text-light.pseudo-class-focus {
  color: #dae0e5 !important;
}

a.text-dark.pseudo-class-hover,
a.text-dark.pseudo-class-focus {
  color: #1d2124 !important;
}

a.pseudo-class-hover,
a.pseudo-class-focus {
  color: #423c2b;
  color: var(--color-link-hover);
  outline: none;
}

.demo.pseudo-class-hover,
.demo.pseudo-class-focus {
  opacity: 0.5;
}

.global-menu__item.pseudo-class-hover {
  color: var(--color-menu-hover);
}

.hamburger.pseudo-class-hover .hamburger__line-in::before,
.hamburger.pseudo-class-hover .hamburger__line-in::after {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.hamburger.pseudo-class-hover .hamburger__line-in--01::before,
.hamburger.pseudo-class-hover .hamburger__line-in--01::after,
.hamburger.pseudo-class-hover .hamburger__line-in--02::before,
.hamburger.pseudo-class-hover .hamburger__line-in--02::after,
.hamburger.pseudo-class-hover .hamburger__line-in--03::before,
.hamburger.pseudo-class-hover .hamburger__line-in--03::after {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.hamburger.pseudo-class-hover .hamburger__line-in--cross01::before,
.hamburger.pseudo-class-hover .hamburger__line-in--cross01::after,
.hamburger.pseudo-class-hover .hamburger__line-in--cross02::before,
.hamburger.pseudo-class-hover .hamburger__line-in--cross02::after {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.hamburger.is-opened-navi.pseudo-class-hover .hamburger__line-in--cross01::before,
.hamburger.is-opened-navi.pseudo-class-hover .hamburger__line-in--cross01::after,
.hamburger.is-opened-navi.pseudo-class-hover .hamburger__line-in--cross02::before,
.hamburger.is-opened-navi.pseudo-class-hover .hamburger__line-in--cross02::after {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.hamburger.is-opened-navi.pseudo-class-hover .hamburger__line-in--01::before,
.hamburger.is-opened-navi.pseudo-class-hover .hamburger__line-in--01::after,
.hamburger.is-opened-navi.pseudo-class-hover .hamburger__line-in--02::before,
.hamburger.is-opened-navi.pseudo-class-hover .hamburger__line-in--02::after,
.hamburger.is-opened-navi.pseudo-class-hover .hamburger__line-in--03::before,
.hamburger.is-opened-navi.pseudo-class-hover .hamburger__line-in--03::after {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.pater.pseudo-class-hover,
.pater.pseudo-class-focus {
  color: var(--color-link);
}